node_modules
.env.local
.env

# Next.js build output và cache
.next/
out/
build/
.turbo/

# Logs và Debug
*.log
log.txt
log_utf8.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
trace